.abu {
  background-color: rgb(36, 34, 34);
  height: 180px;
}

@media (min-width: 250px) {

  .judul-layar-kecil {
    font-size: 1.7em !important;
  }

  .teks-layar-kecil {
    font-size: 0.9em !important;
  }
}
