<div class="container">
  <div class="row">
    <div class="col-12 py-2">
      <div class="alert alert-success">
        <h3>Informasi Praktikum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate rerum reiciendis optio
          perferendis vel. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate rerum reiciendis
          optio perferendis vel.</p>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center py-3">
        <button class="btn btn-primary col-12 py-4" (click)="nothingHandle()">
          Daftar Praktikum
        </button>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center py-3">
        <a class="btn btn-primary col-12 py-4" [routerLink]="['/slot']" routerLinkActive="router-link-active">
          Slot Praktikum
        </a>
      </div>
    </div>
  </div>
</div>
